@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=El+Messiri:wght@400;700&display=swap');


main{
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-y: auto;
    /* overflow-y: hidden; */
}
.upper-nav{
      z-index: 1;
}


.side-nav{
    text-align: right;
    position: relative;
	width: 250px;
    height: 120%;
    z-index: 2;
     /* overflow-y:scroll; */

}

.side-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.side-nav ul li {
  /* Sub Menu */
 margin: 10px 10px;
 border-radius: 2px;
border-bottom:2px rgba(18, 101, 169, 0.631)  solid;

}
.side-nav ul li a {
	display: block;
	padding: 10px 15px;
	color: #fff;
	text-decoration: none;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}
.side-nav ul li a:hover ,
.side-nav ul li a.active{
	background: #1d4f71;
	color: #fff;
    border-right: 6px solid #5db64c;
}
.side-nav ul li a:active {
	background: #1d4f71;
	color: #fff;
    border-right: 6px solid #5db64c;
}
.side-nav ul li a .fa {
	width: 16px;
	text-align: center;
	margin-right: 5px;
	float:right;
}
.side-nav ul ul {
	background: rgba(0, 0, 0, 0.2);
}
.side-nav ul li ul li a {

	border-left: 4px solid transparent;
	padding: 10px 20px;
}
.side-nav ul li ul li a:hover {

	border-right: 6px solid #3498db;
}

.header-sidebar{

    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 25px 0;
}
hr{
    color: #fff;
}
.navbar-custom{
    position: absolute !important;

    width: 98%;
   background-color: #495057;

}
.wrapper-content{
    position: absolute;
    left: 150px;
}
a.show #user-fa-custom  i  {

     color: #000;
}
#user-fa-custom i{
       color: rgb(175, 186, 178)

}
#main-content{
    margin-top:80px ;
}
.main-title{
    justify-content: center;
    text-align: center;

    font-family: 'Cairo', sans-serif;
    font-size: 33px;
}


/* Add Product Table */
.table-shadow{

}

/* End Add Product Table */


/* Inner Navigation */
 .inner-nav    {
   background-color: #495057;
   border-radius: 10px;
   color: rgb(252, 252, 252);
   font-family: 'Cairo', sans-serif;
   /* font-family: 'El Messiri', sans-serif; */
   font-family: 'El Messiri', sans-serif;

}

.inner-nav a ,.inner-nav a:hover{
    color: rgb(252, 252, 252);
     text-decoration: none;
}













 .hover {

  text-align: center;
  margin: 0 auto;
  padding: 0;
  transition: all 0.2s ease-in-out;
  position: relative;
}
 .hover:before,
 .hover:after{
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0px;
  height: 3px;
  margin: 3px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.5s;
  opacity: 0;
  background-color: #e69500;
}


 .hover.hover-3:before {
  left: 50%;
}
 .hover.hover-3:after {
  right: 50%;
}


 .inner_item:hover .hover:before,
 .inner_item:hover .hover:after,
 .inner_item.active .hover:before,
 .inner_item.active .hover:after {
  width: 100%;
  opacity: 1;
}
 .inner_item:hover .hover.hover-3:before,
 .inner_item:hover .hover.hover-3:after,
 .inner_item.active .hover.hover-3:before,
 .inner_item.active .hover.hover-3:after
 {
  width: 50%;
}



/* End Inner Navigation */


/*  entry insurance */
#entry_insurance,#destroyed{

    display: flex;
    justify-content: center;
}
#entry_insurance .green_insurance ,#destroyed .green_insurance{
    font-family: 'Cairo', sans-serif;
    font-family: 'El Messiri', sans-serif;
    display: inline;
    background-color: rgb(114, 221, 100);
    border-radius: 20px;
    border: 2px #24ae09 solid ;
    padding: 5px 15px;
    color: rgb(40, 60, 48);
    font-weight: bold;

}
#entry_insurance .red_insurance ,#destroyed .red_insurance{
    font-family: 'Cairo', sans-serif;
    font-family: 'El Messiri', sans-serif;
    display: inline;
    background-color: rgb(208, 89, 68);
    border-radius: 20px;
    border: 2px #871900 solid ;
    padding: 5px 15px;
    color: rgb(63, 57, 56);
    font-weight: bold;

}

/* End entry insurance */
.wrapper{
    width: 100%;
    background: rgb(220, 220, 220);
     box-shadow:
    rgba(10, 58, 84, 0.501) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;


    border-radius: 20px;
    aspect-ratio: 100 / 40;
}
.sub-main-title{
    justify-content: center;
    text-align: center;
    color: rgb(0, 118, 10);
    font-family: 'Cairo', sans-serif;
    font-size: 22px;
}
.sub-main-title-edit{
    justify-content: center;
    text-align: center;
    color: rgb(201, 161, 2);
    font-family: 'Cairo', sans-serif;
    font-size: 22px;
}
.select-rtl{
  direction: rtl;
  background-position: left;

}
.save-entry-button{
font-size: 25px;
color: #1d4f71;
 background-color: rgb(64, 194, 47);
    border-radius: 20px;
    border: 2px #24ae09 solid ;
    padding: 5px 15px;
    color: rgb(40, 60, 48);
    font-weight: bold;
padding:5px 30px;}








/*  output button check radio  */
.check-radio-wrapper{
  /* background: #497dd0; */
}

.toggle_radio{
  position: relative;
  background: rgba(255,255,255,.1);
  margin: 4px auto;
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 40px;
  width: 318px;
}
.toggle_radio > * {
  float: left;
}
.toggle_radio input[type=radio]{
  display: none;
  /*position: fixed;*/
}
.toggle_radio label{
  font-family: 'Cairo', sans-serif;
  color: rgba(0, 53, 39, 0.9);
  z-index: 0;
  display: block;
  width: 100px;
  height: 30px;
  margin: 3px 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  /*background: rgba(0,0,0,.1);*/
  text-align: center;
  border: 1px solid black;

  /*margin: 0 2px;*/
  /*background: blue;*/ /*make it blue*/
}
.toggle_option_slider{
  /*display: none;*/
  /*background: red;*/
  width: 100px;
  height: 30px;
  position: absolute;
  top: 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

#first_toggle:checked ~ .toggle_option_slider{
  background: rgba(8, 160, 107, 0.474);
  right:29px;
}
#second_toggle:checked ~ .toggle_option_slider{
  background: rgba(8, 160, 107, 0.474);
  right: 190px;
  padding: 5px;
}
